
<%= javascript_include_tag params[:controller] %>

result
<%= @result.inspect %>


<div id="conditions"></div>
<div id="condition0" class="condition">
    <select id="select-condition-type0" class="select-condition-type">
    <option value="primitive">Condicion</option>
    <option value="non-primitive">Subcondiciones</option>
    </select>
    <div id="condition-element0" class="selected-condition"></div>
    </div>
</div>

<%# 
 <a id="add-condition" onclick="printCondition()">Print Condition</a> %>

