<h2> Promotion Report: </h2>

<h4> Promotion Name: <%= "#{@promotion.name}" %> </h4>

<h4> Total Requests: <%= "#{@promotion.total_requests}" %> </h4>

<h4> Average Response Time: <%= "#{@average}" %> </h4>

<h4> Applicable/Inapplicable Requests: <%= "#{@rate}" %> </h4>