<h2> Promotion Report: </h2>

<h2> Promotion: <%= "#{@promotion.name}" %> </h2>

<h2> Cantidad Invocaciones: <%= "#{@promotion.total_requests}" %> </h2>

<h2> Tiempo Promedio: <%= "#{@average}" %> </h2>

<h2> Tasa de respuesta: <%= "#{@rate}" %> </h2>