<div>
  <%= link_to 'Inicio', promotions_path %>
  <h1><%= @promotion.name %></h1> 
  <p>

  <p>
    <%= @promotion.condition %>
  </p>
  <%= link_to 'Editar promotion', edit_promotion_path(@promotion) %>
  <hr />

 
</div>
