<div>
  <h2> Add a new financial user to this organization </h2>
  <%= form_tag create_fin_path do %>  
    <input type="text" placeholder="email" name="email"/> 
    <input name="commit" type="submit" value="Create User"/>
  <% end %> 
</div>